*{
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  padding: 130px;
  width: 100%;
  background-color: #eee;
}

Button {
  cursor: pointer;
  padding: 0 10px;
}

.exportBtn {
  margin-right: 10px;
}

.evdBtn {
  display: block;
  padding-bottom: 10px;
  text-align: left;
  border: none;
  text-decoration: 1px underline #000;
  background-color: rgba(0, 0, 0, 0);
}

.evdBtn:hover {
  color: #646464;
  text-decoration: 1px underline #646464;
}

.modal label {
  display: block;
  margin: 30px 0px 10px 0px;
}

.evi .modal-footer {
  justify-content:flex-start;
}

.dataTbl {
  border-collapse: collapse;
  border: 1px solid #b5b5b5;
  margin: 20px auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.dataTbl th {
  background-color: rgba(255, 255, 255, 0.7);
}

.dataTbl td, .dataTbl th {
  padding: 10px;
  border-bottom: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
}

.dataTbl td:first-child {
  text-align: center;
}

.dataTbl tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.7);
}

.licenseSelect select {
  display: block;
  width: 100%;
  border: none;
  padding: 3px;
  background-color: rgba(0, 0, 0 , 0);
  cursor: pointer;
}

.selectBox {
  width: 300px;
  margin-right: 30px;
  padding: 5px;
}

.workingSetBox {
  display: inline-block;
}

.uploadBtn {
  float: right;
}

.spinner {
  display: block;
}