:root {
  --font-NotoSansKR:'NotoSansKR';
  --font-SpoqaHanSansNeo-Light: 'SpoqaHanSansNeo-Light';
  --font-SpoqaHanSansNeo-Regular: 'SpoqaHanSansNeo-Regular';
  --font-SpoqaHanSansNeo-Medium: 'SpoqaHanSansNeo-Medium';

  --main-background-color:linear-gradient(-135deg,   #ffffff, #eafaff, #d1edff, #e7f9ff, #ffffff);
  --gray-background-color: rgba(0, 0, 0, 0.01);
  --light-gray-background-color: rgba(0, 0, 0, 0.03);
  --border-color: #969696;
  --white: #fff;
  --text-decoration-color: #000;
  --default-text-color: #000;
  --gray-text-color: #838383;
  --btn-text-color: #fff;
  --btn-default-color:  #fb6c44;
  --btn-active-color:  #ee5f39;
  --btn-page-default-color:  #38c479;
  --btn-page-active-color:  #0AA16E;
  --btn-shadow-color: rgba(94, 94, 94, 0.40);

  --modal-background-color: #fff;
}

html.dark {
  --main-background-color: linear-gradient(-135deg,    #020014, #0f0c29, #302b63, #24243e,  #020013);
  --gray-background-color: rgba(255, 255, 255, 0.03);
  --light-gray-background-color: rgba(255, 255, 255, 0.07);
  --border-color: rgba(248, 208, 89, 0);
  --white: #fff;
  --text-decoration-color: #000;
  --gray-text-color: #838383;
  --default-text-color: #D6DFF5;
  --btn-text-color: #fff;
  --btn-default-color:  #fb6c44c4;
  --btn-active-color:  #ee6039c5;
  --btn-page-default-color:  #38c479c4;
  --btn-page-active-color:  #0aa16fb7;
  --btn-shadow-color: rgb(146, 146, 146, 0);

  --modal-background-color: #060D30;
}

html {
  background-color: var(--dark-gray-background-color); 
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-SpoqaHanSansNeo-Regular);
  font-size: 15px;
}

/* .App {
  padding: 20px 80px 0;
  background-color: var(--dark-gray-background-color);
} */