.modal {
    label {
        display: block;
        margin-bottom: 10px;
    }

    .modal-header, .modal-body, .modal-footer {
        border: none;
    }

    .modal-body {
        padding: 30px 20px;
    }
    
    input[type="file" i] {
        display: block;
        margin-bottom: 30px;
    }
}

.evi .modal-footer {
    justify-content:flex-start;
}

.uploadModal .modal-footer {
    justify-content: center;
}

.btnSubmit {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 5px var(--btn-shadow-color);
    cursor: pointer;
    padding: 0 10px;      
    background-color: var(--btn-default-color);
    padding: 3px 10px;
    margin-bottom: 20px;
    color: var(--btn-text-color);
    font-family: var(--font-SpoqaHanSansNeo-Medium);

    &:hover,
    &:active,
    &.active {
      background-color: var(--btn-active-color);
    }
}