
.MainApp {
    padding: 50px 80px 0;
    min-height: 100vh;
    background-color: var(--dark-gray-background-color);
    color: var(--default-text-color);
  }
  
  .menuBox {
    display:flex;
    align-items: flex-end;
  }
  
  .uploadBtn {
    flex-shrink: 0;
  }
  
  .exportBtn {
    flex-grow: 1;
  }
  
  .exportBtn .btnBox {
    float: right;
  }
  
  .evdBtn {
    display: block;
    padding-bottom: 10px;
    text-align: left;
    border: none;
    text-decoration: 1px underline var(--default-text-color);
    background-color: rgba(0, 0, 0, 0);
    color: var(--default-text-color);
  }
  
  .evdBtn:hover {
    color: var(--gray-text-color);
    text-decoration: 1px underline var(--gray-text-color);
  }

  .spinnerBox {
    width:fit-content;
    margin: 100px auto;
  }
  