:root {
  --font-NotoSansKR:'NotoSansKR';
  --font-SpoqaHanSansNeo-Light: 'SpoqaHanSansNeo-Light';
  --font-SpoqaHanSansNeo-Regular: 'SpoqaHanSansNeo-Regular';
  --font-SpoqaHanSansNeo-Medium: 'SpoqaHanSansNeo-Medium';

  --main-background-color:linear-gradient(-135deg,   #ffffff, rgb(241, 250, 253), #f2f9fd, #fdfeff, #ffffff);
  --gray-background-color: rgba(0, 140, 255, 0.01);
  --light-gray-background-color: rgba(0, 140, 255, 0.03);
  --filter-background-color: #dff3ffa8;
  --border-color: #969696;
  --white: #fff;
  --text-decoration-color: #000;
  --default-text-color: #000;
  --gray-text-color: #535353;
  --btn-text-color: #fff;
  --btn-default-color:  #fb6c44;
  --btn-active-color:  #ee5f39;
  --btn-page-default-color:  #38c479;
  --btn-page-active-color:  #0AA16E;
  --btn-shadow-color: rgba(94, 94, 94, 0.40);

  --free: #8cd4f3;
  --shareware: #8ce490;
  --commercial: #b199fa;
  --etc: #EFDC05;
  --exception:#F68657;
  --none: #ee6e9f;
  --unknown: #D8E6E7;

  --modal-background-color: #fff;
}

html.dark {
  --main-background-color: linear-gradient(-135deg,    #020014, #0f0c29, #302b63, #24243e,  #020013);
  --gray-background-color: rgba(255, 255, 255, 0.03);
  --light-gray-background-color: rgba(255, 255, 255, 0.07);
  --filter-background-color: #302979c0;
  --border-color: rgba(248, 208, 89, 0);
  --white: #fff;
  --text-decoration-color: #000;
  --gray-text-color: #b5bed1;
  --default-text-color: #D6DFF5;
  --btn-text-color: #fff;
  --btn-default-color:  #fb6c44c4;
  --btn-active-color:  #ee6039c5;
  --btn-page-default-color:  #38c479c4;
  --btn-page-active-color:  #0aa16fb7;
  --btn-shadow-color: rgb(146, 146, 146, 0);

  --free: #288ab4bd;
  --shareware: #67a16acc;
  --commercial: #8b7bc0b9;
  --etc: #c7b704;
  --none: #be577f;
  --unknown: #a5b0b1a4;

  --modal-background-color: #060D30;
}

html {
  background-color: var(--dark-gray-background-color); 
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--font-NotoSansKR);
  font-size: 15px;
}

/* .App {
  padding: 20px 80px 0;
  background-color: var(--dark-gray-background-color);
} */